html {
  min-height: 100%;
  background-color: #f0eeee;
  padding: 0 0 ;
  margin: 0 0 ;
}

.App * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.App {
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

a, .link {
  color: #f64060;
}

.alerts {
  height: 12px;
  margin:3px;
}

.header{
  height: 155px;
  text-align: center;
  color: #f64060;
  font-size: 90px;
  font-family: 'Beth Ellen', cursive;
  margin: 0 ;
  background-color: #ffffff;
}

.headerSpan{
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

}

.CitySearch-title{
  padding: 20px 0 20px 0;
  font-weight: bold;
  font-size: 26px;
}

.CitySearch_input-label{
  font-size: 12px;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus {
  border-color:  #f64060;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions:empty {
  border: none;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:hover {
  background-color: #fff;
  color:  #f64060;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.NumberOfEvents{
  display: flex;
  flex-direction: column;
}

.NumberOfEvents_input-label{
  font-size: 12px;
}

.NumberOfEvents_input {
  width: 80px;
  text-align: right;
}

.EventList{
  margin: 1% 10%;
}

.Event {
  padding: 10px 10px 20px;
  margin-bottom: 15px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
}

.details-btn {
  position: absolute;
  right: 10px;
  bottom: 20px;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color:  #f64060;
  background-color: #fff;
}

.details-btn:hover {
  border: 1px solid #f64060;
  color: #000;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.city {
  width: 250px;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

@media all and (max-width: 700px) {
  .alerts {
    height: 12PX;
    font-size: 9px
  }

  .header{
    height: 105px;
    font-size: 60px;
  }

  .CitySearch-title{
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
  }

  .CitySearch_input-label ,
  .NumberOfEvents_input-label {
    font-size: 12px;
  }

  .NumberOfEvents{
    margin: 3px;
  }

  .EventList{
margin-top: 10px
  }
}
